.Options {
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
}

.Options h3 {
    font-family: FreeMono, monospace;
}

h3 {
  color: #212223;
  position: relative;
  text-decoration: none;
}

h3::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #212223;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

h3:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}