.MiniAbout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vh;
    margin-top: 15vh;
}

.LinuxImg {
    display: block;
    width: 50vh;
    border-radius: 0.8vh;
}

.MiniAboutIntern h1 {
  font-family: Arial, Helvetica;
  font-size: 6vh;
  font-weight: 900;
}

.Locate {
    font-size: 2vh;
    font-weight: 100;
}

@media (max-width: 426px) {
    .LinuxImg {
        width: 40vh;
    }

    .MiniAboutIntern h1 {
        font-size: 4vh;
    }
}