<section class="Skills">
    <h1>
    HA<br/>
    BILI<br/>
    DA<br/>
    DES
    </h1>
    <div class="SkillsIntern">
        <div class="FirstInternSkills">
        <app-skillcard>
            <h3 class="LangName">HTML5</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">CSS3</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">JAVASCRIPT</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">TYPESCRIPT</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">SASS</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" />
        </app-skillcard>
        </div>
        <div class="FirstInternSkills">
        <app-skillcard>
            <h3 class="LangName">BULMA</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bulma/bulma-plain.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">BOOTSTRAP</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">MATERIALUI</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/materialui/materialui-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">REACTJS</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">NEXTJS</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg" />
        </app-skillcard>
        </div>
        <div class="FirstInternSkills">
        <app-skillcard>
            <h3 class="LangName">ANGULAR</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">VUEJS</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">NUXTJS</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nuxtjs/nuxtjs-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">SVELTE</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/svelte/svelte-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">NODEJS</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">EXPRESS</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg" />
        </app-skillcard>
        </div>
        <div class="FirstInternSkills">
        <app-skillcard>
            <h3 class="LangName">FLASK</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">NESTJS</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-plain.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">SPRINGBOOT</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">MONGODB</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">MYSQL</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" />
        </app-skillcard>
        </div>
        <div class="FirstInternSkills">
        <app-skillcard>
            <h3 class="LangName">POSTGRESQL</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">SEQUELIZE</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sequelize/sequelize-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">PYTHON</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">JAVA</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">RUST</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rust/rust-plain.svg" />
        </app-skillcard>
        </div>
        <div class="FirstInternSkills">
        <app-skillcard>
            <h3 class="LangName">GIT</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">GITHUB</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">KOTLIN</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kotlin/kotlin-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">LINUX</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" />
        </app-skillcard>
        <app-skillcard>
            <h3 class="LangName">C</h3>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" />
        </app-skillcard>
        </div>
    </div>
</section>
