<section class="About">
    <h1>
Olá! Me chamo Eduardo Silva Barros e atualmenteestou trabalhando<br/>
em projetos pessoais e buscando aprender mais no mundo do Design,<br/>
Programação e Desenvolvimento Pessoal. Pretendo no futuro cursar<br/>
algum dos seguintes cursos: Ciência da computação, Sistemas de<br/>
Informação, TI ou Engenharia de Software. Eu iniciei na progra-<br/>
mação por meados de 2022 com a Linguagem Java, mas me senti des-<br/>
animado por ter achado a programação difícil, devido ao Java ser<br/>
uma Linguagem não muito fácil por ser orientada a objetos. No e-<br/>
ntanto, depois voltei a estudar Programação com o curso Fullstack<br/>
da OneBitCode, Hora de Codar, Cod3r e Curso Em Vídeo. No momento,<br/>
não estou interessado que ninguém entre em contato comigo, inde-<br/>
pendentemente do motivo.
    </h1>
</section>