.Header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3.5vh;
}

.Name {
  font-size: 4vh;
  font-family: Arial, Helvetica, sans-serif, Bold;
  font-weight: 900;
  margin-left: -20vh;
}