<h1 class="Title"><span class="WhiteText">C</span>e<span class="WhiteText">r</span>t<span class="WhiteText">i</span>f<span class="WhiteText">i</span>c<span class="WhiteText">a</span>d<span class="WhiteText">o</span>s</h1>
<div class="Certificates">
   <img src="https://edsb.vercel.app/UC-161fdc98-7cbf-4325-9b3d-c4c6c2510045.jpg" alt="">
   <img src="https://edsb.vercel.app/UC-6c34587a-9f17-4263-b6a0-66eacb81bc12.jpg" alt="">
   <img src="https://edsb.vercel.app/UC-a3332c91-a830-4f4f-a1e1-ba7887556012.jpg" alt="">
   <img src="https://edsb.vercel.app/UC-e1e36efc-af86-432f-9d90-950ba7510640.jpg" alt="">
   <img src="https://edsb.vercel.app/UC-ec266324-933e-4298-94ad-d2d14713b30a.jpg" alt="">
   <img src="https://edsb.vercel.app/UC-f20652e6-1f53-4f14-bd5c-3ffb7708f969.jpg" alt="">
</div>