.Title {
    text-align: center;
    margin-top: 160vh;
    font-size: 6vh;
    color: #212223;
}

.WhiteText {
    color: #d1d2d3;
}

.Certificates {
    display: flex;
    justify-content: center;
    gap: 10vh;
}