<div class="Projects">
  <div *ngFor="let project of projects">
    <app-projectcard *ngIf="!isProjectHidden(project)">
      <div class="front-content">
        <h2 class="ProjectName">{{ project.name }}</h2>
        <img class="ProjectImg" src="{{ project.faviconUrl }}" alt="">
      </div>
      <div class="back-content">
        <div class="Techs">
          <img ngClass="LangImg" *ngFor="let tech of project.technologies" [src]="tech" alt="{{ tech }}" class="Tech">
        </div>
        <h2 class="ProjectDescription">{{ project.description }}</h2>
        <div class="Buttons">
          <button (click)="openRepository(project.html_url)">Repository</button>
          <button (click)="openWebsite(project.homepage)">Website</button>
        </div>
      </div>
    </app-projectcard>
  </div>
</div>
